#career-section,   
.hero-section,
.feature-box,
.job-oppurtunity-card {
  font-family: "Inter", sans-serif !important;
}
//Empowering your job journey
.half-circle {
  width: 100px !important;
  height: 100px !important;
  border: 16px solid #9d67d6;
  border-radius: 50%;
  background: transparent;
  z-index: 2;

  &.top-right {
    top: -48px;
    right: -60px;
    border-left: none;
    border-bottom: none;
  }

  &.bottom-left {
    bottom: -48px;
    left: -60px;
    border-top: none;
    border-right: none;
  }
}
.feature-box {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 1rem;
  width: 100%;

  .feature-icon {
    border-radius: 5rem;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    color: #9d67d6;
  }

  .feature-text {
    background: #9d67d6;
    color: white;
    flex: 1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    flex-grow: 1;
    text-align: center;
    margin: 0 15px;
    font-size: 18px;
  }
}
// Job Oppurtunities at SprintPark
.job-oppurtunity-card {
  background: rgba(255, 255, 255, 0.08);
  &:hover {
    background-color: #907aa8;
  }
  .apply-now-btn {
    background: #ef7a13;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  }
}
@media (max-width: 991.98px) {
  .half-circle {
    display: none;
  }
  .career-images-group {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 24px !important;
    width: 100% !important;
  }
}