<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- First slide -->
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="card">
            <img class="card-img-top d-block w-100" src="assets/home/industries/industries-healthcare.jpg" alt="Healthcare">
            <div class="card-body">
              <h5 class="card-title">Healthcare</h5>
              <p class="card-text">Some quick example text.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <div class="card">
            <img class="card-img-top d-block w-100" src="assets/home/industries/industries-government.jpg" alt="Government">
            <div class="card-body">
              <h5 class="card-title">Government</h5>
              <p class="card-text">Some quick example text.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <div class="card">
            <img class="card-img-top d-block w-100" src="assets/home/industries/industry-education.jpg" alt="Education">
            <div class="card-body">
              <h5 class="card-title">Education</h5>
              <p class="card-text">Some quick example text.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second slide -->
    <div class="carousel-item">
      <div class="row">
        
        <div class="col-md-4 d-none d-md-block">
          <div class="card">
            <img class="card-img-top d-block w-100" src="assets/home/industries/industries-healthcare.jpg" alt="Healthcare">
            <div class="card-body">
              <h5 class="card-title">Healthcare</h5>
              <p class="card-text">Some quick example text.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <div class="card">
            <img class="card-img-top d-block w-100" src="assets/home/industries/industries-healthcare.jpg" alt="Healthcare">
            <div class="card-body">
              <h5 class="card-title">Healthcare</h5>
              <p class="card-text">Some quick example text.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
