.industries-section {
  background: #f6f4fd url("/assets/home/industries/industries-bgwave.png")  no-repeat center bottom;
  background-size: 100% 600px;
  padding: 60px 0;
  .carousel-container {
    max-width: 1400px;
    margin: 0 auto;

  }
  /* Carousel Track (animated sliding) */
  .carousel-track {
    transition: transform 0.8s ease-in-out;
    align-items: stretch;
  }
  .carousel-control-prev {
  left: -90px;
}
.carousel-control-next {
  right: -80px; 
}
  /* Each card inside carousel */
  .carousel-card {
    padding: 0 10px;
    transition: transform 0.3s ease-in-out;
    .card {
      box-shadow: 2px 6px 8px rgba(22, 22, 26, 0.18);
      transition: transform 0.3s ease-in-out;
      min-height: 280px;
      &:hover {
        transform: translateY(-5px);
      }
      img {
        height: 280px;
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          transform: scale(1.12);
        }
      }
      .card-img-overlay {
        padding: 15px;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.2)
        );
        .card-icon {
          background: #ff6600;
          width: 35px;
          height: 35px;
          cursor: pointer;
          transition: all 0.4s ease;

          &:hover {
            background: #e65c00;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
