<nav class="navbar navbar-expand-md bg-white sticky-top border-bottom">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/assets/header/logoBlue.png" alt="logo" />
    </a>
 
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas"
      aria-controls="offcanvas"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <!-- Offcanvas -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas"
      aria-labelledby="offcanvasLabel"
    >
      <div class="offcanvas-header">
        <a class="navbar-brand" href="">
          <img src="/assets/header/logoBlue.png" alt="logo" />
        </a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
 
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" aria-label="SprintPark">
              <svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#sprintpark"></use>
              </svg>
            </a>
          </li> -->
          <li></li>
 
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" (click)="onAboutClick()">About Us</a></li>
 
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-md-none"
              href="#"
              data-bs-toggle="dropdown"
              >Services</a
            >
            <a class="nav-link d-none d-md-block" href="#">Services</a>
 
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/it-common">IT Consulting</a>
              </li>
              <li>
                <a class="dropdown-item" href="/staffing">Staffing</a>
              </li>
              <li>
                <a class="dropdown-item" href="/projectManagement"
                  >Project Management</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/software-service-util"
                  >Software Services</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-md-none"
              href="#"
              data-bs-toggle="dropdown"
              >Industries</a
            >
            <a class="nav-link d-none d-md-block" href="#">Industries</a>
 
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/telecommunications"
                  >IT & Telecommunications</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/government">Government</a>
              </li>
              <li>
                <a class="dropdown-item" href="/healthCareAndLifeSciences"
                  >Health Care & Life Sciences</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/manufacturing">Manufacturing</a>
              </li>
              <li><a class="dropdown-item" href="/education">Education</a></li>
              <li>
                <a class="dropdown-item" href="/transportationAndLogistics"
                  >Transportation & Logistics</a
                >
              </li>
              <li><a class="dropdown-item" href="/banking">Banking</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/insights">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
 
          <!-- Login Button -->
          <li class="nav-item">
            <button
              class="btn btnn"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>