<div class="footer" [ngStyle]="{ 'background-color': themeColor }">
  <img
    src="/assets/footer/footerCurve.png"
    alt="footerCurve"
    class="img-fluid"
  />

  <div class="footer-background">
    <div class="footer-content">
      <div class="row footer-sections">
        <div class="col-12 col-md-4">
          <div>
            <a href="" class="navbar-brand">
              <img
                src="assets/footer/sprintpark-web-logo.png"
                class="logo-img"
                alt="Sprintpark Logo"
              />
            </a>
            <p class="mt-2 p-2 text-center text-md-start">
              <small>
                We at SprintPark offer innovative Software Solutions for Modern
                Businesses, partner with you in finding your perfect workforce,
                and are your dependable companion as you navigate the rapidly
                changing world of technology.
              </small>
            </p>
          </div>
        </div>

        <div class="col-6 col-xs-12 col-md-2">
          <h4 class="footer-header">Services</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/it-consulting">IT Consulting</a>
            </li>
            <li class="nav-item">
              <a href="/staffing">Staffing Solutions</a>
            </li>
            <li class="nav-item">
              <a href="/project-management">Project Management</a>
            </li>
            <li class="nav-item">
              <a href="/software-service">Software Development</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-xs-12 col-md-2">
          <h4 class="footer-header">Industries</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/itAndTelecommunications">IT & Telecom</a>
            </li>
            <li class="nav-item">
              <a href="/government">Government Sector</a>
            </li>
            <li class="nav-item">
              <a href="/healthCareAndLifeSciences">HealthCare</a>
            </li>
            <li class="nav-item">
              <a href="/banking">Banking</a>
            </li>
            <li class="nav-item">
              <a href="/manufacturing">Manufacturing</a>
            </li>
            <li class="nav-item">
              <a href="/education">Education</a>
            </li>
            <li class="nav-item">
              <a href="/transportationAndLogistics"
                >Transportation & Logistics</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-xs-12 col-md-2">
          <h4 class="footer-header">Products</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/manufacturing/ITConsulting">IT Consulting</a>
            </li>
            <li class="nav-item">
              <a href="/manufacturing/salesforceIntegration">Salesforce</a>
            </li>
            <li class="nav-item">
              <a href="/banking/AI">AI and Automation</a>
            </li>
            <li class="nav-item">
              <a href="/transport/networkEngineering">Network Engineering</a>
            </li>
            <li class="nav-item">
              <a href="/education/dataAnalyticsEducation">Data Analytics</a>
            </li>
            <li class="nav-item">
              <a href="/banking/BigData">Big Data</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-xs-12 col-md-2 contactCol">
          <h4 class="footer-header">Contact Info</h4>
          <ul class="nav flex-column">
            <li>
              <a href="contact-us">
                <i class="fa fa-phone fa-lg"></i>
                <p>+1(860) 566 9894</p>
              </a>
            </li>
            <!-- Email Section -->
            <li>
              <a href="contact-us">
                <!-- <i class="fa fa-envelope-o fa-lg"></i> -->
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>
                  info&#64;sprintpark.com <br />
                  hr&#64;sprintpark.com
                </p>
              </a>
            </li>

            <!-- Address Section -->
            <li>
              <a href="contact-us" target="_blank">
                <!-- <i class="fa fa-map-marker fa-lg"></i> -->
                <i class="fa-solid fa-location-dot"></i>
                <p>85 Felt Rd, Suite #604, South Windsor, CT 06074</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex bottomStrip justify-content-between">
        <div>
          <p class="mb-5">All rights reserved &#64;SprintPark 2025</p>
        </div>
        <div class="social-icons d-flex me-5">
          <a href="https://www.facebook.com/SPRINTPARKLLC" target="_blank">
            <img src="/assets/footer/facebook.png" alt="Facebook Icon"
          /></a>
          <a href="https://www.instagram.com/sprintpark" target="_blank">
            <img src="/assets/footer/instagram.png" alt="Instagram Icon"
          /></a>
          <a
            href="https://www.linkedin.com/company/sprintparkusa"
            target="_blank"
          >
            <img src="/assets/footer/linkedin.png" alt="LinkedIn Icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
