.footer {
   position: relative;
  .footer-top {
  position: absolute;
   height: 140px;
  width: 100%;
  background-color: inherit;
    z-index: 0;
}
.curve-img {
  position: relative;
  width: 100%;
  display: block;
  z-index: 2;
}
.footer-top {
  z-index: 1;
}
.footer-background {
  background: #fff;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}
  img {
    max-width: 100%;
    display: block;
  }
  .footer-background {
    // Gradient from top left to top right, fading as it goes right
    background-image: linear-gradient(
      to right,
      #1f0334 0%,
      #3f0d66 50%,
      #601698 100%
    );
  }

  .footer-content {
    padding: 30px 70px 0 100px;

    @media (max-width: 768px) {
      padding: 20px 30px;
    }

    p {
      color: white;
    }

    .flex-column {
      li {
        margin-bottom: 3px;
        padding-bottom: 5px;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-header {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10.8px;
    padding-bottom: 5px;
    color: white;
    
  }
  .li {
    line-height: 200%;
  }
  .contactCol {
    li {
      display: flex;
      align-items: center;
    

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
          p {
            color: #89a4d7;
          }
        }
        p {
          margin-bottom: 0;
          color: white;
        }
      }

      i {
        margin-right: 1rem;
      }
    }
  }

  .bottomStrip {
    padding: 20px 0;
    .social-icons {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }
    img {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 768px) {
      .bottomStrip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

        .social-icons {
          display: flex;
          gap: 10px;
          align-items: center;
         

          a {
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
