<app-industry-sub-util
  *ngIf="currentSection === 'itConsulting'"
  [heroImage]="itConsulting.heroImage"
  [heroHeading]="itConsulting.heroHeading"
  [subHeading]="itConsulting.subHeading"
  [introText]="itConsulting.introText"
  [points]="itConsulting.points"
>
</app-industry-sub-util>
 
<app-industry-sub-util
  *ngIf="currentSection === 'networkEngineering'"
  [heroImage]="networkEngineering.heroImage"
  [heroHeading]="networkEngineering.heroHeading"
  [subHeading]="networkEngineering.subHeading"
  [introText]="networkEngineering.introText"
  [points]="networkEngineering.points"
>
</app-industry-sub-util>
 
 
<app-industry-sub-util
  *ngIf="currentSection === 'salesforceAI '"
  [heroImage]="salesforceAI .heroImage"
  [heroHeading]="salesforceAI .heroHeading"
  [subHeading]="salesforceAI .subHeading"
  [introText]="salesforceAI .introText"
  [points]="salesforceAI .points"
>
</app-industry-sub-util>
 
 