.contact-hero {
  position: relative;
  overflow: hidden;
}

/* LEFT SIDE */
.hero-left {
  padding: 80px 60px;
}

.hero-content {
  max-width: 520px;
}

/* RIGHT SIDE */
.hero-right {
  background: linear-gradient(180deg, #4b147a, #2d0a4d);
  position: relative;
}

/* IMAGE POSITIONING */
.hero-image-wrapper {
  position: absolute;
  left: -220px;
  top: 15% !important;
  z-index: 2;
}
.hero-image {
  width: 450px !important;
  height: 450px !important;
  border-radius: 16px;
  margin-top: 25%;
  position: relative;
  z-index: 2; 
}
.contact-info-card {
  background: linear-gradient(180deg, #2d0a4d, #5a189a);
}
.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.social-icons i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}
.get-started-btn {
  background: rgba(239, 112, 19, 1);
}
.contact-form {
  background: rgba(217, 217, 217, 1) !important;
}
.form-head {
  color: rgba(72, 42, 163, 1);
}
.send-btn {
  background: rgba(72, 42, 163, 1);
}
.socialicon {
  color: rgba(72, 42, 163, 1);
}
.hiring-section {
  background: linear-gradient(135deg, #2b004f, #6a1bb1);
  padding: 80px 0;
}

.hiring-desc {
  max-width: 520px;
}

/* Button */
.hiring-btn {
  background: #ff9800;
}

.hiring-btn:hover {
  background: #ff8800;
  color: #fff;
}
.faq-item {
  transition: background 0.2s ease;

  &.active {
    background: #fafafa;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  &.show {
    max-height: 300px;
  }
}
.image-top-circle {
  position: absolute;
  top: 19% !important;                 
  left: 20%;
  transform: translate(-50%, -50%); /* moves half up */
  width: 42px;
  height: 42px;
  background-color: #4b2ca3; /* purple */
  border-radius: 50%;
  z-index: 0 !important;
}
@media (max-width: 768px) {
  .hero-image-wrapper {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    margin: 0 auto;
  }
  .image-top-circle {
    top: 10%;
  }
  .hero-right {
    min-height: 560px;
     background: linear-gradient(180deg, #4b147a, #2d0a4d) !important;
  }
  .bg-purple {
    background: none !important;
  }
  .hero-left {
    padding: 24px 16px;
  }
}
@media (max-width: 1199.98px) {
  .hero-image-wrapper {
    position: relative;
    top: 0;
    transform: none;
    margin: 0 auto;
  }
}
/* Medium screens only (tablets, small laptops) */
@media (max-width: 1199.98px) {
  .hero-image-wrapper {
    position: relative !important;
    left: -30px !important;
    top: 0 !important;
    margin: 140px auto;
    text-align: center;
  }

  .hero-image {
    width: 100% !important;
    max-width: 360px;
    height: auto !important;
    margin-top: 0 !important;
  }

  .hero-right {
    min-height: auto;
  }
}
/* Mobile screens */
@media (max-width: 768px) {
  .hero-image {
    max-width: 280px;
  }
  .hero-right {
    background: none;
  }
}