.contact-us {
  overflow-x: hidden;
  font-family: inter, sans-serif;
}
/* Contact Form */
.contact-form {
  max-width: 600px;
  margin: 0 auto;

  .sbt-btn {
    background: linear-gradient(273.4deg, #1B0976 -26.19%, #4B36B3 41.97%, #372399 110.13%);
    transition: opacity 0.3s ease;
  }
}
/* Locations */
.location {
  min-height: 200px;

  &.usa {
    .location-icon, .phone-icon, .mail-icon {
      color: #482aa3;
    }
  }
  &.india {
    .location-icon, .phone-icon, .mail-icon {
      color: #ef7a13;
    }
  }
}
.has-border {
  border-right: 1px dashed #000;
}
/* Social Section */
.social-section {
  background: #f6f7fb;
  padding: 20px 0;
  height: 450px; 
  .social-right {
    flex: 1;
    margin-right: -50px;
    margin-top: 30px;
    h3 {
      margin-bottom: 10px;
      margin-right: 50%;
    }
    .social-links {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      list-style: none;
      padding: 0;
      li a {
        gap: 8px;
        text-decoration: none;
        color: #333;
        transition: color 0.2s;
        &:hover {
          color: #4f46e5;
        }
      }
    }
    .social-icon {
      width: 24px;
      height: 24px;
    }
    .ellipse-img {
      position: absolute;
      right: -70px;
      top: 20px;
      width: 150px;
      height: 250px;
      opacity: 0.5;
      z-index: 0;
    }
  }
}
/* FAQ */
.faq-item {
  border-bottom: 1px solid #eee;
}

.faq-question {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  color: #111;

  &:hover {
    color: #4f46e5;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  color: #555;
  transition: max-height 0.3s ease, padding 0.3s ease;

  &.show {
    max-height: 200px;
    padding: 10px 10px 20px 10px;
  }
}

/* Why Hire */
.why-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #eaeaea;
  min-height: 250px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
@media (max-width: 768px) {
  // Social Section
  .social-section {
    padding: 2rem 1rem;
    height: auto;
    .row {
      flex-direction: column;
      .social-left {
        order: 2;
        margin: 1rem 0;
      }
      .social-right {
        order: 1;
        margin: 0;
        text-align: center;
        h3 {
          width: 110%;
          margin-left: 60%;
        }
        .social-links {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0.5rem;
          padding: 0 1rem;
          margin-left: 70px;
          li {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}