<div>
  <p-toast position="top-center"></p-toast>
  <div class="summary-container h-100 mb-3" *ngIf="job as j">
    <!-- ===== JOB HERO SECTION ===== -->
    <section class="job-hero bg-white">
      <div class="p-4 p-lg-5 rounded-4">
        <div class="row g-5 align-items-start">
          <!-- IMAGE -->
          <div class="col-lg-6">
            <img
              [src]="j.image"
              class="img-fluid rounded-4 w-100 hero-img"
              alt="J Image"
            />
          </div>

          <!-- JOB INFO -->
          <div class="col-lg-6">
            <h3 class="fw-semibold mb-3">
              {{ j.title }}
            </h3>

            <p class="text-muted mb-1">
              <strong>Location :</strong> {{ j.location }}
            </p>

            <p class="text-muted mb-4">
              <strong>Job ID :</strong> {{ j.jobId }}
            </p>

            <h6 class="fw-semibold mb-2">Job Summary</h6>

            <p class="text-muted lh-lg">
              {{ j.summary }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ===== KEY RESPONSIBILITIES ===== -->
    <section class="job-section p-3 pb-0 ps-5">
      <div class="p-4 rounded-4 mx-0">
        <h6 class="fw-semibold mb-3">Key Responsibilities</h6>

        <ul class="job-list">
          <li *ngFor="let responsibility of j.responsibilities" class="mb-3">
            {{ responsibility }}
          </li>
        </ul>
      </div>
    </section>

    <!-- ===== REQUIRED SKILLS ===== -->
    <section class="job-section p-3 pt-0 pb-0 ps-5 mt-0">
      <div class="p-4 rounded-4 mx-0">
        <h6 class="fw-semibold mb-3">Required Skills & Qualifications</h6>

        <ul class="job-list">
          <li *ngFor="let skill of j.requiredSkills" class="mb-3">
            {{ skill }}
          </li>
        </ul>
      </div>
    </section>

    <!-- ===== PREFERRED SKILLS ===== -->
    <section class="job-section p-3 pt-0 ps-5">
      <div class="p-4 rounded-4 align-items-center">
        <h6 class="fw-semibold mb-3">Preferred Skills</h6>

        <ul class="job-list">
          <li *ngFor="let skill of j.preferredSkills" class="mb-3">
            {{ skill }}
          </li>
        </ul>
      </div>
    </section>

    <!-- ===== APPLY BUTTON ===== -->
    <div class="text-start pt-0 ps-5 align-items-center justify-content-center">
      <button
        class="btn btn-primary px-4 apply-btn"
        data-bs-toggle="modal"
        data-bs-target="#applyModal"
      >
        Apply Now
      </button>

      <!-- ================= APPLY MODAL ================= -->
      <!-- APPLY MODAL -->
      <div class="modal fade" id="applyModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content border-0 rounded-4">
            <div class="modal-body p-4 p-md-5">
              <!-- HEADER -->
              <div class="d-flex align-items-center gap-3 mb-4">
                <div>
                  <h4 class="fw-semibold mb-1 text-color">
                    Apply for this role
                  </h4>
                  <small class="text-dark"> We’d love to hear from you </small>
                </div>

                <button
                  type="button"
                  class="btn-close ms-auto"
                  data-bs-dismiss="modal"
                ></button>
              </div>

              <!-- FORM -->
              <form [formGroup]="applyForm" (ngSubmit)="submitForm($event)"enctype="multipart/form-data">
                <!-- FULL NAME -->
                <div class="mb-3">
                  <label class="form-label fw-semibold text-color">
                    Full Name <span style="color: red">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control form-control-lg rounded-3"
                    formControlName="fullName"
                    name="fullName"
                  />
                  <small
                    class="text-danger"
                    *ngIf="
                      applyForm.get('fullName')?.touched &&
                      applyForm.get('fullName')?.invalid
                    "
                  >
                    Name must contain only letters
                  </small>
                </div>

                <!-- EMAIL + PHONE -->
                <div class="row g-3 mb-3">
                  <div class="col-md-6">
                    <label class="form-label fw-semibold text-color">
                      Email Address <span style="color: red">*</span>
                    </label>
                    <input
                      type="email"
                      class="form-control form-control-lg rounded-3"
                      formControlName="email"
                      name="email"
                    />

                    <small
                      class="text-danger"
                      *ngIf="
                        applyForm.get('email')?.touched &&
                        applyForm.get('email')?.invalid
                      "
                    >
                      Enter a valid email address
                    </small>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label fw-semibold text-color">
                      Phone Number <span style="color: red">*</span>
                    </label>
                    <input
  type="text"
  maxlength="10"
  class="form-control form-control-lg rounded-3"
  formControlName="phoneNumber"
  name="phoneNumber"
/>


                    <small
                      class="text-danger"
                      *ngIf="
                        applyForm.get('phone')?.touched &&
                        applyForm.get('phone')?.invalid
                      "
                    >
                      Must be exactly 10 digits
                    </small>
                  </div>
                </div>

                <!-- EXPERIENCE + RESUME -->
                <div class="row g-3 mb-4 align-items-stretch">
                  <!-- EXPERIENCE -->
                  <div class="col-md-4">
                    <label class="form-label fw-semibold text-color">
                      Experience (In Months) <span style="color: red">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control form-control-lg rounded-3"
                      formControlName="experience"
                      name="experience"
                    />

                    <small
                      class="text-color"
                      *ngIf="
                        applyForm.get('experience')?.touched &&
                        applyForm.get('experience')?.invalid
                      "
                    >
                      Enter valid years of experience
                    </small>
                  </div>

                  <!-- RESUME UPLOAD -->
                  <div class="col-md-8">
                    <label
                      class="border border-2 border-dashed rounded-4 p-4 d-flex flex-column justify-content-center h-100 text-center bg-light cursor-pointer"
                    >
                 <input
  type="file"
  name="resume"
  accept=".pdf"
  (change)="onFileChange($event)"
  required
/>



                      <strong class="text-color fs-6">
                        Upload Your Resume <span style="color: red">*</span>
                      </strong>

                      <small class="text-muted">
                        PDF, DOC, DOCX • Max 5MB
                      </small>

                      <small class="text-success mt-1" *ngIf="selectedFileName">
                        {{ selectedFileName }}
                      </small>

                      <small
                        class="text-danger mt-1"
                        *ngIf="
                          applyForm.get('resume')?.touched &&
                          applyForm.get('resume')?.invalid
                        "
                      >
                        Resume is required
                      </small>
                    </label>
                  </div>
                </div>

                <!-- SUBMIT -->
                <div class="text-end">
                  <button
                    type="submit"
                    class="btn btn-primary px-4 py-2"
                    [disabled]="applyForm.invalid"
                  >
                    Submit Application
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
