.card {
  opacity: 1;      
  transform: rotate(0deg); 
}


.card-hover {
  background: linear-gradient(275.69deg, #1A0951 2.22%, #4B1078 76.02%);
  color: #fff;
  border-radius: 12px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-hover:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}