<div
  class="container d-flex flex-column justify-content-center align-items-center text-center vh-50"
>
  <!-- Animated 404 Heading -->
  <h1 class="error-code animate-404 fw-bold">404</h1>

  <h2 class="fw-semibold">Not Found</h2>
  <h3 class="text-muted mb-1 fw-semibold">
    Sorry, we were unable to find that page
  </h3>
  <p class="text-muted mb-4 fw-bold">Please use main menu</p>
  <img
    src="assets/pageNotFound.png"
    alt="404 illustration"
    class="error-img img-fluid mb-4"
  />

  <button class="btn btn-primary px-4" (click)="goHome()">Go to Home</button>
</div>
