<div class="software-section py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="display-5 mb-3 text-light fw-bold">
        {{ whatWeDoHeading }}
      </h1>
      <p class="text-light mx-auto sub-heading w-50">
        {{ whatWeDoDescription }}
      </p>
    </div>

    <div class="row">
      <div class="col-sm mb-4" *ngFor="let card of softwareCards">
        <div class="card bg-transparent border-0 shadow-sm h-100 transition">
          <div class="position-relative overflow-hidden">
            <img
              [src]="card.image"
              alt="card image"
              class="img-fluid card-image rounded w-100 transition"
            />
          </div>
          <div class="card-body text-center">
            <h5 class="text-white fw-bold">{{ card.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
