<div [ngClass]="{ 'two-per-row': isTwoPerRow }" class="tele">
  <!-- Hero Section (unchanged) -->
  <div
    class="container-fluid topSection h-100"
    [ngStyle]="{ 'background-image': 'url(' + headerBgImg + ')' }"
  >
    <div class="row align-items-center" style="min-height: 500px;">
      <div class=" top-content col-6 col-md-6  px-md-5 py-5 content-down">
        <h1 class="it-header-gradient mb-4">{{ itHeader }}</h1>
        <p class="text-content">{{ itContent }}</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img [src]="industryImg" class="img-fluid hero-img" alt="Industry Image" />
      </div>
    </div>
  </div>
  <div class="container-fluid d-block d-md-none smallScreenSection">
    <img [src]="industryImg" class="img-fluid" alt="Industry Image" />
    <div class="text-center" style="background-color: #0a2250">
      <h1 class="text-white px-5 mb-3 pt-3">{{ itHeader }}</h1>
      <p class="text-content px-5">{{ itContent }}</p>
    </div>
  </div>
  <div class="industryBg">
    <div class="container-fluid p-5 bottomSection mb-5">
      <h1 class="text-center mb-5">
        <strong>{{ itSubHeading }}</strong>
      </h1>
      <div class="row ">
        <ng-container *ngFor="let card of cards; let i = index">
          <div class="col-12 col-md-6 mb-5 d-flex justify-content-center align-items-stretch">
            <div class="industry-card text-center">
              <div class="industry-card-img-wrap">
                <img [src]="card.img" alt="Card Image" class="industry-card-img" />
                <span class="industry-card-number">{{ i + 1 }}</span>
              </div>
              <h5 class="industry-card-title mt-4 mb-2">{{ card.title }}</h5>
              <p class="industry-card-desc mb-3">{{ card.description }}</p>
              <a
                href="{{ card.link }}"
                class="industry-card-link"
              >
                Read More <span class="industry-card-link-arrow">&gt;&gt;</span>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
     
    </div>
  </div>
</div>
