<div [ngClass]="{ 'two-per-row': isTwoPerRow }" class="tele align-items-center w-100">
  <!-- Hero Section -->
  <div
    class="container-fluid topSection h-80 p-0 position-relative w-100"
    [ngStyle]="{ 'background-image': 'url(' + headerBgImg + ')' }"
  >
    <div class="row align-items-center gx-0">
      <div class="top-content col-6 col-md-6 px-md-5 py-5 px-5">
        <h1 class="it-header-gradient shadow-320 fw-bold mb-5">
          {{ itHeader }}
        </h1>
        <h3 class="it-heading shadow-320 fw-bold mb-3">{{ itHeading }}</h3>
        <p class="">{{ itContent }}</p>
      </div>

      <div
        class="col-12 col-md-6 d-flex justify-content-right justify-content-md-end align-items-center px-0"
      >
        <img
          [src]="industryImg"
          class="img-fluid hero-img"
          alt="Industry Image"
        />
      </div>
    </div>

    <!-- Wave Overlay -->
    <img
      src="assets/Industries/background.png"
      alt="Wave"
      class="wave-overlay"
    />
  </div>

  <!-- Bottom Section -->
  <div class="industryBg position-relative">
    <div class="container-fluid p-5 bottomSection">
      <h1 class="text-center mb-5">
        <strong class="fw-bold">{{ itSubHeading }}</strong>
      </h1>
      <div class="row">
        <ng-container *ngFor="let card of cards; let i = index">
          <div
            [ngClass]="{
              'col-6': cards.length === 4 || cards.length === 2,
              'col-4':
                cards.length === 3 || cards.length === 6 || cards.length === 5,
            }"
            class="mb-5 d-flex justify-content-center align-items-stretch"
          >
            <div class="industry-card text-center">
              <div class="industry-card-img-wrap">
                <img
                  [src]="card.img"
                  alt="Card Image"
                  class="industry-card-img"
                />
                <span
                  class="industry-card-number position-absolute top-0 start-0 translate-middle bg-primary text-white fw-bold d-flex align-items-center justify-content-center rounded-circle shadow-sm h-25 w-25"
                  >{{ i + 1 }}</span
                >
              </div>
              <h5 class="mt-4 mb-2 fw-bold">
                {{ card.title }}
              </h5>
              <p class="mb-3">{{ card.description }}</p>
              <a [routerLink]="card.link" class="industry-card-link">
                Read More <span>&gt;&gt;</span>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
