.it-container {
  width: 100%;
  height: auto;
}
.hero-image {
  height: 480px;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}
.overlay-container {
  z-index: 1;
  pointer-events: none;
}
.text-container {
  max-width: 50%;
  pointer-events: auto;
}
@media (min-width: 1600px) {
  .hero-image {
    height: 580px;
  }
  .text-container {
    max-width: 42%;
  }
}
@media (min-width: 1400px) and (max-width: 1599.98px) {
  .hero-image {
    height: 550px;
  }
  .text-container {
    max-width: 45%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-image {
    height: 520px;
  }
  .text-container {
    max-width: 48%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-image {
    height: 450px;
  }
  .text-container {
    max-width: 55%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-image {
    height: 400px;
  }
  .text-container {
    max-width: 65%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .hero-image {
    height: 350px;
  }
  .text-container {
    max-width: 75%;
  }
}
@media (max-width: 576px) {
  .hero-image {
    height: 280px;
  }
  .text-container {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  .hero-image {
    height: 260px;
  }
  .text-container {
    max-width: 92%;
  }
}
