<app-industry-sub-util
  *ngIf="currentSection === 'salesforceIntegration'"
  [heroImage]="salesforceIntegration.heroImage"
  [heroHeading]="salesforceIntegration.heroHeading"
  [subHeading]="salesforceIntegration.subHeading"
  [introText]="salesforceIntegration.introText"
  [points]="salesforceIntegration.points">
</app-industry-sub-util>
 
<app-industry-sub-util
  *ngIf="currentSection === 'dataAnalytics'"
  [heroImage]="dataAnalytics.heroImage"
  [heroHeading]="dataAnalytics.heroHeading"
  [subHeading]="dataAnalytics.subHeading"
  [introText]="dataAnalytics.introText"
  [points]="dataAnalytics.points">
</app-industry-sub-util>
 
<app-industry-sub-util
  *ngIf="currentSection === 'projectManagement'"
  [heroImage]="projectManagement.heroImage"
  [heroHeading]="projectManagement.heroHeading"
  [subHeading]="projectManagement.subHeading"
  [introText]="projectManagement.introText"
  [points]="projectManagement.points">
</app-industry-sub-util>
 
<app-industry-sub-util
  *ngIf="currentSection === 'ITConsulting'"
  [heroImage]="ITConsulting.heroImage"
  [heroHeading]="ITConsulting.heroHeading"
  [subHeading]="ITConsulting.subHeading"
  [introText]="ITConsulting.introText"
  [points]="ITConsulting.points">
</app-industry-sub-util>