<!-- StrategicRiskAndResilence -->
<app-industry-sub-util
  *ngIf="currentSection === 'StrategicRiskAndResilence'"
  [heroImage]="StrategicRiskAndResilence.heroImage"
  [heroHeading]="StrategicRiskAndResilence.heroHeading"
  [subHeading]="StrategicRiskAndResilence.subHeading"
  [introText]="StrategicRiskAndResilence.introText"
  [points]="StrategicRiskAndResilence.points"
>
</app-industry-sub-util>
<!-- SmartItManagedsolutions -->
<app-industry-sub-util
  *ngIf="currentSection === 'SmartItManagedsolutions'"
  [heroImage]="SmartItManagedsolutions.heroImage"
  [heroHeading]="SmartItManagedsolutions.heroHeading"
  [subHeading]="SmartItManagedsolutions.subHeading"
  [introText]="SmartItManagedsolutions.introText"
  [points]="SmartItManagedsolutions.points"
>
</app-industry-sub-util>
<!-- ProjectManagementExcellence -->
<app-industry-sub-util
  *ngIf="currentSection === 'ProjectManagementExcellence'"
  [heroImage]="ProjectManagementExcellence.heroImage"
  [heroHeading]="ProjectManagementExcellence.heroHeading"
  [subHeading]="ProjectManagementExcellence.subHeading"
  [introText]="ProjectManagementExcellence.introText"
  [points]="ProjectManagementExcellence.points"
>
</app-industry-sub-util>
<!-- DataAnalytics -->
<app-industry-sub-util
  *ngIf="currentSection === 'DataAnalytics'"
  [heroImage]="DataAnalytics.heroImage"
  [heroHeading]="DataAnalytics.heroHeading"
  [subHeading]="DataAnalytics.subHeading"
  [introText]="DataAnalytics.introText"
  [points]="DataAnalytics.points"
>
</app-industry-sub-util>
<!-- TrustedTransformationPartner -->
<app-industry-sub-util
  *ngIf="currentSection === 'TrustedTransformationPartner'"
  [heroImage]="TrustedTransformationPartner.heroImage"
  [heroHeading]="TrustedTransformationPartner.heroHeading"
  [subHeading]="TrustedTransformationPartner.subHeading"
  [introText]="TrustedTransformationPartner.introText"
  [points]="TrustedTransformationPartner.points"
>
</app-industry-sub-util>
<!-- CitizenEngagementTransparency -->
<app-industry-sub-util
  *ngIf="currentSection === 'CitizenEngagementTransparency'"
  [heroImage]="CitizenEngagementTransparency.heroImage"
  [heroHeading]="CitizenEngagementTransparency.heroHeading"
  [subHeading]="CitizenEngagementTransparency.subHeading"
  [introText]="CitizenEngagementTransparency.introText"
  [points]="CitizenEngagementTransparency.points"
>
</app-industry-sub-util>