<section class="container-fluid px-2 pt-5 pb-7 font-family-inter">
  <div class="container custom-wide">
    <h2 class="text-center mb-5 fw-bold">{{text}}</h2>
    <div class="timeline">
      <div *ngFor="let step of steps; let i = index" class="timeline-row" [class.left]="i % 2 === 0" [class.right]="i % 2 !== 0" [class.last-item]="i === steps.length - 1">
        <!-- Right column (with content for odd indices) -->
        <div class="col timeline-right">
          <div *ngIf="i % 2 !== 0" class="content-box">
            <h5 class="fw-bold mb-3">
              {{ step.title }} 
              <span *ngIf="step.icon" class="step-icon">
                <img [src]="step.icon" [alt]="step.title" class="icon-image">
              </span>
            </h5>
            <p>{{ step.description }}</p>
          </div>
        </div>
        
        <!-- Center circle with line -->
        <div class="col timeline-center">
          <div class="circle text-dark d-flex fw-bold fs-5 justify-content-center">{{ i + 1 }}</div>
        </div>
        
        <!-- Left column (with content for even indices) -->
        <div class="col timeline-left">
          <div *ngIf="i % 2 === 0" class="content-box">
            <h5 class="fw-bold fs-5 mb-3 d-flex align-items-center">
              {{ step.title }} 
              <span *ngIf="step.icon" class="step-icon">
                <img [src]="step.icon" [alt]="step.title" class="icon-image">
              </span>
            </h5>
            <p class="lh-lg">{{ step.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>