.insights-section {
  .insights-mobile-img {
    img {
      object-fit: cover;
      object-position: top;
    }
  }
  .insights-content {
    background:
      url("/assets/insights/insights.png") no-repeat left bottom / 100% 220px,
      linear-gradient(90.17deg, #1f0334 0.15%, #601698 117.16%);
  }
  .insights-desktop-img {
    img {
      object-position: top;
      
    }
  }
}
.our-insights {
  &:hover {
    transform: scale(1.05);
    .read-badge {
      background-color: black;
      width: 100%;
      cursor: pointer;
    }
  }
  .read-badge {
    background-color: black;
    margin-bottom: 5px;
  }
}