<app-industry-sub-util
  *ngIf="currentSection === 'medicalinnovation'"
  [heroImage]="medicalinnovation.heroImage"
  [heroHeading]="medicalinnovation.heroHeading"
  [subHeading]="medicalinnovation.subHeading"
  [introText]="medicalinnovation.introText"
  [points]="medicalinnovation.points"
>
</app-industry-sub-util>
 
<!-- Connected Infrastructure -->
<app-industry-sub-util
  *ngIf="currentSection === 'HealthCareTransform'"
  [heroImage]="HealthCareTransform.heroImage"
  [heroHeading]="HealthCareTransform.heroHeading"
  [subHeading]="HealthCareTransform.subHeading"
  [introText]="HealthCareTransform.introText"
  [points]="HealthCareTransform.points"
>
</app-industry-sub-util>
 
<!-- Data Security -->
<app-industry-sub-util
  *ngIf="currentSection === 'dataSecurity'"
  [heroImage]="dataSecurity.heroImage"
  [heroHeading]="dataSecurity.heroHeading"
  [subHeading]="dataSecurity.subHeading"
  [introText]="dataSecurity.introText"
  [points]="dataSecurity.points"
>
</app-industry-sub-util>
 
<!-- Project Delivery -->
<app-industry-sub-util
  *ngIf="currentSection === 'projectDelivery'"
  [heroImage]="projectDelivery.heroImage"
  [heroHeading]="projectDelivery.heroHeading"
  [subHeading]="projectDelivery.subHeading"
  [introText]="projectDelivery.introText"
  [points]="projectDelivery.points"
>
</app-industry-sub-util>
 
<!-- Talent Solutions -->
<app-industry-sub-util
  *ngIf="currentSection === 'talentSolutions'"
  [heroImage]="talentSolutions.heroImage"
  [heroHeading]="talentSolutions.heroHeading"
  [subHeading]="talentSolutions.subHeading"
  [introText]="talentSolutions.introText"
  [points]="talentSolutions.points"
>
</app-industry-sub-util>
 
<!-- Patient Innovation -->
<app-industry-sub-util
  *ngIf="currentSection === 'patientInnovation'"
  [heroImage]="patientInnovation.heroImage"
  [heroHeading]="patientInnovation.heroHeading"
  [subHeading]="patientInnovation.subHeading"
  [introText]="patientInnovation.introText"
  [points]="patientInnovation.points"
>
</app-industry-sub-util>